body, html {
      background: #000919;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
}

.nav {
      display: block;
      padding-right: 80px;
      z-index: 100;
      position: relative;
}

.nav a, li {
      color: #fff;
      font-size: 14px;
      font-family: 'Libre Franklin', sans-serif;
      text-decoration: none;
      list-style-type: none;
      float: right;
      margin: 5px 15px;
      z-index: 100;
}

.brand img {
      clear: right;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 30%;
      position: relative;
      z-index: 100;

      animation: logofade 7.5s;
      -moz-animation: logofade 7.5s; /* Firefox */
      -webkit-animation: logofade 7.5s; /* Safari and Chrome */
      -o-animation: logofade 7.5s; /* Opera */
}

.brand p {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 42px;
      color: #fff;
      display: block;
      margin-top: -30px;
      text-align: center;
      position: relative;
      z-index: 100;
      animation: logofade 7.5s;
      -moz-animation: logofade 7.5s; /* Firefox */
      -webkit-animation: logofade 7.5s; /* Safari and Chrome */
      -o-animation: logofade 7.5s; /* Opera */
}

.left_main {
      float: left;
      width: 50%;
      height: 110%;
      text-align: center;
      opacity: 0.3;
      margin-top: -30%;
      z-index: -999;
}

.right_main {
      float: right;
      width: 50%;
      height: 110%;
      text-align: center;
      opacity: 0.3;
      margin-top: -30%;
}

.right_main img {
      float: right;
}

.left_main a, .right_main a {
      font-family: 'Libre Franklin', sans-serif;
      font-size: 22px;
      font-weight: 700;
      display: block;
      color: #fff;
      height: 100%;
      text-decoration: none;
      margin: 65% 0 0 0;
}

/* Testing display: block;

      .left_main p {
      margin: 50% 0 0 0;
      vertical-align: middle;
      display: block;
      height: 100%;
}

 */

.left_main:hover, .right_main:hover {
      background: #001333;
      animation: fadein2 2s;
      animation: fadein 2s forwards;
      -moz-animation: fadein 2s; /* Firefox */
      -webkit-animation: fadein 2s forwards; /* Safari and Chrome */
      -o-animation: fadein 2s; /* Opera */
}

.sf-snow-flake {
position: fixed;
top: -20px;
z-index: 99999;
}

.sf-snow-anim {
top: 110%;
}

      @keyframes fadein {
          from {
              opacity:0.3;
          }
          to {
              opacity:1;
          }
      }
      @-moz-keyframes fadein { /* Firefox */
          from {
              opacity:0.3;
          }
          to {
              opacity:1;
          }
      }
      @-webkit-keyframes fadein { /* Safari and Chrome */
          from {
              opacity:0.3;
          }
          to {
              opacity:1;
          }
      }
      @-o-keyframes fadein { /* Opera */
          from {
              opacity:0.3;
          }
          to {
              opacity: 1;
          }
      }

/*********************************/

      @keyframes logofade {
          from {
              opacity:0;
          }
          to {
              opacity:1;
          }
      }
      @-moz-keyframes logofade { /* Firefox */
          from {
              opacity:0;
          }
          to {
              opacity:1;
          }
      }
      @-webkit-keyframes logofade { /* Safari and Chrome */
          from {
              opacity:0;
          }
          to {
              opacity:1;
          }
      }
      @-o-keyframes logofade { /* Opera */
          from {
              opacity:0;
          }
          to {
              opacity: 1;
          }
      }
