:root {
   --mainRed: #d80828;
   --mainRedTint: #ab6262;
   --mainRedShade: #520303;
   --mainBlue: #303063;
   --mainWhite: #dbdbdb;
   --mainBlack: #060606;
}

body, html {
   margin: 0;
   padding: 0;
   top: 0;
}

html {
   scroll-behavior: smooth;
}

::-webkit-scrollbar {
   display: none;
}

.container {
   width: 100%;
   padding-right: 15px;
   padding-left: 15px;
   margin-right: auto;
   margin-left: auto;
}

@media (min-width: 576px) {
   .container {
      max-width: 540px;
   }
}

@media (min-width: 768px) {
   .container {
      max-width: 720px;
   }
}

@media (min-width: 992px) {
   .container {
      max-width: 960px;
   }
}

@media (min-width: 1200px) {
   .container {
      max-width: 1140px;
   }
}

/* Navigation */
.nav-bar {
   overflow: hidden;
   display: block;
   top: 0;
   width: 100vw;
   position: fixed;
   background-color: transparent;
   z-index: 999;
   transition: top 0.3s;
   top: 0;
}

.nav-bar-scrolled {
   background-color: var(--mainBlack);
}

.nav-bar-left {
   float: left;
   display: flex;
   margin: 0;
}

.nav-bar-right ul {
   float: right;
   display: flex;
   margin: 0;
}

.nav-bar-left li, .nav-bar-right li {
   list-style-type: none;
}

.nav-bar-left a, .nav-bar-right a {
   display: block;
   font-family: 'Aleo', serif;
   font-size: 18px;
   color: var(--mainWhite);
   text-decoration: none;
   padding: 14px 16px;
   text-align: center;
}

.nav-bar a:hover {
   background-color: var(--mainWhite);
   text-decoration: none;
   color: var(--mainBlack);
}

@media (max-width: 950px) {}

/* ############################################ */
.header p {
   text-align: center;
   font-size: 76px;
   color: var(--mainRed);
   font-family: 'Aleo', serif;
   font-weight: bold;
   padding-top: 3%;
   padding-bottom: 3%;
   margin: 0 auto;
}

.launch {
   width: 100%;
   height: 110vh;
}

.launch .logo {
   background: url(../img/logo.png) center center no-repeat;
   background-size: 50%;
   width: inherit;
   height: inherit;
}

@media (max-width: 991px) {
   .launch .logo {
      background-size: 70%;
   }
}

.fixed-bg {
   width: 100vw;
   height: 110vh;
   position: fixed;
   background-color: var(--mainRed);
   /* background: linear-gradient(var(--mainRedShade), var(--mainRed), var(--mainRedShade)); */
   /* background-repeat:repeat; */
   /* background-image: linear-gradient(90deg, rgba(82, 3, 3, 0.5) 1px, rgba(0, 0, 0, 0) 1px), linear-gradient(0deg, rgba(82, 3, 3, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
   background-size: 20px 20px; */
   z-index: -99;
}

.about {
   /* position: relative; */
   /* height: 90vh; */
   width: 100%;
   background-color: var(--mainWhite);
}

.large-container {
   /* display: block; */
   width: 80vw;
   margin-left: auto;
   margin-right: auto;
}

.large-container > .row {
   /* height: 100vh; */
   /* display: flex; */
   align-items: center;
}

.left {
   float: left;
   width: 50%;
   height: auto;
}

.col-md-6 img {
   /* padding: 10px 5%; */
   width: 70%;
   margin: auto;
   display: flex;
}


.col-md-6 p {
   font-family: 'Aleo', serif;
   padding: 15vh 0;
   font-size: 22px;
   text-align: center;
   margin: 0;
}

@media (max-width: 1450px) {
   .col-md-6 img {
      width: 80%;
   }

   .col-md-6 p {
      font-size: 18px;
   }
}

@media (max-width: 991px) {
   .col-md-6 img {
      width: 50%;
      padding-bottom: 0;
   }

   .col-md-6 p {
      padding-top: 5vh;
   }
}

.vcenter {
   display: inline-block;
   vertical-align: middle;
   float: none;
}

/* Bootstrap 3 requires custom css to remove row gutters */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;

   &>[class^="col-"],
   &>[class*=" col-"] {
      padding-right: 0;
      padding-left: 0;
   }
}

.portfolio {
   position: relative;
   width: 100%;
   /* height: 110vh; */
   /* background-repeat:repeat; */
   /* background-color: var(--mainRed);
      background-image: linear-gradient(90deg, rgba(82, 3, 3, 0.5) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(82, 3, 3, 0.5) 1px, rgba(0,0,0,0) 1px);
      background-size: 20px 20px; */
}

@media (max-width: 1500px) {
   .gallery {
      width: 70vw;
   }
}

.gallery {
   margin: auto;
}

.galleryimg {
   margin: auto;
   /* background-color: transparent; */
   width: 60vw;
}

.img-text {
   display: block;
   transition: 0.5s;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   border: 1px solid var(--mainWhite);
   text-align: center;
}

.img-text p {
   font-size: 18px;
   font-family: 'Aleo', serif;
   font-weight: bold;
   padding: 10px 20px;
   color: var(--mainWhite);
   margin: 0;
}

.galleryimg img {
   width: 100%;
   height: 100%;
   margin: 15px 0;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   transition: 0.5s;
   /* padding: 15px 0px; */
}

.gallery .col-md-4 {
   background-color: transparent;
   transition: 0.5s;
}

.col-md-4:hover img {
   color: var(--mainRed);
   /* opacity: 0; */
   opacity: 0.4;
}

.gallery .col-md-4:hover {
   background-color: var(--mainRed);
   opacity: 1;
}

.col-md-4:hover .img-text {
   opacity: 1;
}

.more-button {
   clear: both;
   text-align: center;
   padding-top: 10vh;
   transition: 0.5s;
}

.more-button button {
   font-family: 'Aleo', serif;
   font-size: 18px;
   border: none;
   color: var(--mainBlack);
   padding: 15px 30px;
   margin-bottom: 100px;
   font-weight: bold;
}

.banner {
   background-color: var(--mainRedShade);
}

.container > hr {
   width: 15%;
   border: 1px solid var(--mainWhite);
}

.col-md-4 > h2 {
   font-family: 'Aleo', serif;
   color: var(--mainWhite);
   text-align: center;
   padding-top: 30px;
}

.banner .container > p {
   font-family: 'Aleo', serif;
   font-size: 24px;
   color: var(--mainWhite);
   text-align: center;
   padding-top: 180px;
}

.banner .container .col-md-4>p {
   font-family: 'Aleo', serif;
   font-size: 22px;
   color: var(--mainWhite);
   text-align: center;
}

.contact {
   position: relative;
   /* width: 100%; */
   height: 70vh;
   background-color: var(--mainWhite);
}
.contact > .container {
   text-align: center;
}

.contact .contact-txt {
   padding-top: 5vh;
   display: inline-block;
   /* background-color: var(--mainRed); */
}

.contact .contact-txt a {
   font-family: 'Aleo', serif;
   font-size: 22px;
   color: var(--mainRed);
   font-weight: bold;
   text-align: center;
   /* padding: 10px 15px; */
   /* margin: 0; */
   /* background-color: var(--mainRed); */
   /* border: 3px solid var(--mainRedShade); */
}

.copy {
   font-size: 32px;
}

a.contact-anchor:hover {
   color: var(--mainRedShade);
   transition: 0.5s;
}

a.contact-anchor, a.contact-anchor:visited, a.contact-anchor:hover, a.contact-anchor:active {
   text-decoration: none;
}

.transition {
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
}

.rtl {
   height: 10vh;
   width: 100%;
   position: absolute;
}

.launch-about {
   fill: var(--mainWhite);
   width: 100%;
   bottom: -10vh;
   position: absolute;
   /* background-color: var(--mainRed);
      background-image: linear-gradient(90deg, rgba(82, 3, 3, 0.5) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(82, 3, 3, 0.5) 1px, rgba(0,0,0,0) 1px);
      background-repeat:repeat;
      background-position: 0 3px;
      background-size: 20px 20px; */
}

.divider {
   height: 10vh;
   background: transparent;
   stroke: var(--mainWhite);
   /* stroke-width: 1px; */
   /* shape-rendering: optimizeQuality; */
}

.about-portfolio {
   /* display: block; */
   fill: var(--mainWhite);
   /* background-color: var(--mainRedTint); */
   /* background-color: var(--mainRed);
      background-image: linear-gradient(90deg, rgba(82, 3, 3, 0.5) 1px, rgba(0,0,0,0) 1px), linear-gradient(0deg, rgba(82, 3, 3, 0.5) 1px, rgba(0,0,0,0) 1px);
      background-repeat:repeat;
      background-position: 0 -3px;
      background-size: 20px 20px; */
}

.portfolio-contact {
   /* background-color: var(--mainRedTint); */
   fill: var(--mainWhite);
}

.footer {
   display: block;
   position: absolute;
   bottom: 7vh;
   width: 100vw;
   overflow: hidden;
   padding-bottom: 5%;
}

.footer .container {
   width: 30vw;
   text-align: center;
}

/* @media (max-width: 1450px) {
   .footer .container {
      width: 30vw;
   }
} */
.container .col-md-4 a {
   display: inline-block;
   width: 55px;
   height: 55px;
   overflow: hidden;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   padding-top: 15%;
   margin: 0;
}

.container .instasvg a {
   background-image: url(../svg/ic_instagram.svg);
}

.container .twittersvg a {
   background-image: url(../svg/ic_twitter.svg);
}

.container .facebooksvg a {
   background-image: url(../svg/ic_facebook.svg);
}

/* @media (max-width: 991px) {
   .container .col-md-4 {
      width: 25%;
      display: inline-block;
   }
} */
.footer-text {
   display: inline-block;
}

.footer .container .footer-text p {
   font-family: 'Aleo', serif;
   font-size: 18px;
   text-align: center;
   margin-top: 10px;
}

.custom-modal-body {
   display: none;
   position: fixed !important;
   z-index: 999;
   padding-top: 100px;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgb(0,0,0);
   background-color: rgba(0,0,0,0.5);
}

.modal-img {
   margin: auto;
   width: 60%;
}

.modal-content {
   margin: auto;
   display: block;
   width: 40%;
}

@media (max-width: 992px) {
   .modal-content {
      width: 90% !important;
   }
}

.modal-content {
   -webkit-animation: zoom;
   -webkit-animation-duration: 0.6s;
   animation-name: zoom;
   animation-duration: 0.6s;
}

.out {
   animation-name: zoom-out:none;
   animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
   from {
      -webkit-transform: scale(1)
   }
   to {
      -webkit-transform: scale(2)
   }
}

@keyframes zoom {
   from {
      -webkit-transform: scale(0.4)
   }
   to {
      -webkit-transform: scale(1)
   }
}

.modal-close {
   position: absolute;
   top: 15px;
   right: 25px;
   color: var(--mainWhite) !important;
   font-size: 40px;
   font-weight: bold;
   transition: 0.3s;
}

.modal-close:hover, .modal-close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
}
